<nz-select 
    nzShowSearch 
    nzAllowClear 
    nzPlaceHolder="Select..." 
    [(ngModel)]="selectedValue"
    (ngModelChange)="navigationHandler($event)"
>
    <nz-option-group nzLabel="Home">
        <nz-option nzLabel="Home" nzValue="home" routerLink="home"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="Core Angular">
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="AG Grid">
        <nz-option nzLabel="Selection State" nzValue="ag-grid-selection-state-component"></nz-option>
        <nz-option nzLabel="Filter Search Auto Select" nzValue="ag-grid-filter-search-auto-select"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="RXJS">
        <nz-option nzLabel="RXJS Basics" nzValue="rxjs-basics"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="UI">
        <nz-option nzLabel="Toggle-Swap-Buttons" nzValue="ui-toggle-swap-buttons"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="NG-Antd">
        <nz-option nzLabel="DynamicForms" nzValue="ng-antd-dynamic-form"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="Mini Projects">
            <nz-option nzLabel="Bill Total" nzValue="mini-projects-bill-total"></nz-option>
    </nz-option-group>
</nz-select>