<div class='container'>
    <header>
        <h1>Save Selection State between 2 routed pages</h1>
        <ul>
            <li>AG Grid</li>
            <li>RXJS Observables</li>
            <li>Managing State</li>
        </ul>
    </header>
    <aside>
        <div class='link' routerLink="ag-grid-selection-state-sibling-one" >Link To Sibling 1</div>
        <div class='link' routerLink="ag-grid-selection-state-sibling-two" >Link To Sibling 2</div>
    </aside>
    <section>
        <router-outlet></router-outlet>
    </section>
</div>
